<link rel="stylesheet" href="/css/footer.css">
<script src="/js/footerRefresh.js"></script>
<footer id="main-footer">
    <div class="footer-content">
        <p>All Copy Right By CWP</p>
        <div class="button-group">
            <button id="scroll-up-btn">&#9650; </button>
            <button id="refresh-btn">&#8635; </button>
        </div>
    </div>
</footer>